{{#each data.data}}
<div class="blog py-3">
    <h4>{{name}}</h4>
    <div>by {{author}} in <a href="#" onclick="loadBlogs('blogs/categories/{{categoryId}}')">Blog. {{category.name}}</a>
        on {{date}} Hits: 210 <a href="#" onclick="loadDetails({{id}})">Comments ({{comments.length}})</a></div>
    <div class="py-3">
        <img src="{{thumbpath}}" alt="" class="round-img pull-left img-thumbnail"> {{summary}}
        <br>
        <br>
        <a href="#" class="readmore" onclick="loadDetails({{id}})">Read more</a>
    </div>
</div>
{{/each}}